{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Edit Member Profile: {{ member_profile[3] }} {{ member_profile[4] }}</h1>

    <form method="post" >
        <div class="form-group">
            <label for="member_id">Member ID: (view only)</label>
            <input type="text" class="form-control" id="member_id" name="member_id" value="{{ member_profile[0] }}" readonly>
        </div>
        <div class="form-group">
            <label for="user_name">Username: (view only)</label>
            <input type="text" class="form-control" id="user_name" name="user_name" value="{{ member_profile[1] }}" readonly>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <select class="form-control" id="title" name="title" required>
                <option value="Mr" {% if member_profile[2] == 'Mr' %} selected {% endif %}>Mr</option>
                <option value="Mrs" {% if member_profile[2] == 'Mrs' %} selected {% endif %}>Mrs</option>
                <option value="Miss" {% if member_profile[2] == 'Miss' %} selected {% endif %}>Miss</option>
                <option value="Dr." {% if member_profile[2] == 'Dr.' %} selected {% endif %}>Dr.</option>
                <option value="Prof." {% if member_profile[2] == 'Dr.' %} selected {% endif %}>Prof.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ member_profile[3] }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ member_profile[4] }}" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ member_profile[6] }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ member_profile[7] }}" required>
        </div>
        <div class="form-group">
            <label for="address">Adderss:</label>
            <input type="text" class="form-control" id="address" name="address" value="{{ member_profile[8] }}" required>
        </div>
        <div class="form-group">
            <label for="date_of_birth">Date of birth:</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ member_profile[9] }}" required>
        </div>
         <div class="form-group">
            <label for="subscription_date">Subscription Date: (view only)</label>
            <input type="date" class="form-control" id="subscription_date" name="subscription_date" value="{{ member_profile[10] }}" readonly>
        </div>
        <div class="form-group">
            <label for="type">Subscription Type: (view only)</label>
            <input type="text" class="form-control" id="type" name="type" value="{{ member_profile[11] }}" readonly>
        </div>
        <div class="form-group">
            <label for="expiry_date">Subscription Expiry Date: (view only)</label>
            <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ member_profile[12] }}" readonly >
        </div>
       
        <button type="submit" class="btn btn-primary">Update and Save</button>
         <a href="{{ url_for('member_profile') }}" class="btn btn-secondary">Back to List</a>
    </form>
</div>
{% endblock %}