{% extends 'member/member_dashboard.html' %} {% block content %}

<style>
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  #team {
    background: #eee !important;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
  }

  section {
    padding: 60px 0;
  }

  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: capitalize;
  }

  #team .card {
    border: none;
    background: #ffffff;
  }

  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }

  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }

  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }

  .frontside .card,
  .backside .card {
    min-height: 312px;
  }

  .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
  }

  .frontside .card .card-title,
  .backside .card .card-title {
    color: #007b5e !important;
  }

  .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .btn-book-now {
    color: white !important;
    font-weight: bold;
  }

  body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .navbar {
   
    color: white;
    padding: 10px 20px;
    text-align: center;
  }

  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card h2 {
    background-color: #e7f4e4;
    color: #333;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    text-align: center;
  }

  /* The side navigation menu */
  .sidebar {
    margin-right: 100px;
    padding: 0;
    width: 200px;
    background-color: #e3ebe2;
    position: fixed;

    height: 100%;
    overflow: auto;
    left: 0;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;

    text-decoration: none;
  }

  /* Active/current link */
  .sidebar a.active {
    background-color: #4a724a;
    color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #4a724a;
    color: white;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 100px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  /* Responsive layout adjustments */
  @media (max-width: 768px) {
    .dashboard {
      grid-template-columns: 1fr;
    }
  }
</style>


  <!-- Team -->
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Choose an instructor for your lesson</h5>
      <div class="row">
        {% if member_view_instr %} {% for instructor in member_view_instr %}
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p>
                      {% if instructor[9] is not none  %}
                        {% if instructor[8].endswith('.jpg') %}
                            <img class="img-fluid" src="data:image/jpg;base64,{{ instructor[9] }}" alt="{{ instructor[2] }}">
                        {% elif instructor[8].endswith('.jpeg') %}
                            <img class="img-fluid" src="data:image/jpeg;base64,{{ instructor[9] }}" alt="{{ instructor[2] }}">
                        {% elif instructor[8].endswith('.png') %}
                            <img class="img-fluid" src="data:image/png;base64,{{ instructor[9] }}" alt="{{ instructor[2] }}">
                        {% elif instructor[8].endswith('.gif') %}
                            <img class="img-fluid" src="data:image/gif;base64,{{ instructor[9] }}" alt="{{ instructor[2] }}">
                        {% endif %}
                    {% else %}
                        <!-- Handle the case where instructor_profile is None -->
                    {% endif %}
                    </p>
                    <h4 class="card-title">
                      {{ instructor[1] }} {{ instructor[2] }} {{
                      instructor[3] }}
                    </h4>
                    <p class="card-text">{{ instructor[4] }}</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">
                      About {{ instructor[2] }}
                    </h4>
                    <p class="card-text">{{ instructor[7] }}</p>
                    <a
                      href="{{ url_for('member_view_1on1', instructor_id=instructor[0]) }}"
                      class="btn btn-primary btn-sm"
                      style="color: white; font-weight: bold"
                    >
                      <i class="fas fa-calendar-check" style="color: white"></i>
                      Book Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-12">
          <p>No instructors found.</p>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
