{% extends 'member/member_dashboard.html' %}

{% block content %}

{% if msg %}
<div class="alert alert-info">{{ msg }}</div>
{% endif %}

<section>
<div class="container">
    <h2>Pay Subscription</h2>
    <form method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="pay_type">Pay Type:</label>
            <select class="form-select" id="pay_type" name="pay_type" required>
                <option value="Annual" selected>Yearly</option>
                <option value="Monthly">Monthly</option>
            </select>
            <div class="invalid-feedback">
                Please select a pay type.
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-lg{% if disable %} disabled{% endif %}">Pay Now</button>
    </form>
</div>
</section>
{% endblock %}
