* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #4A724A; /* Dark green background */
    padding: 10px 20px;
    color: white;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Georgia', serif; /* Adjust as necessary */
    font-size: 1.8em;
    font-weight: bold;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-item:hover, .nav-item:focus {
    color: #A2C3A2; /* Lighter green for hover/focus */
}

@media screen and (max-width: 768px) {
    .main-nav ul {
        display: none; /* Hide the navigation on small screens */
    }
    /* Add burger icon and JavaScript for mobile menu here */
}

