{% extends 'manager/mgr_dashboard.html' %}

{% block content %}

<!-- Breadcrumb -->
<section class="py-3 py-md-4 py-xl-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h4">Profile Management</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 fs-7">
              <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="{{ url_for('manager_dashboard') }}">Home</a></li>
              <li class="breadcrumb-item">Member Profiles</li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>


<section>
<div class="container">
    <h1 class="mt-5">Edit Detail: {{ member['user_name'] }}</h1>
    <form method="post" >
        <div class="form-group">
            <label for="title">Status:</label>
            <select class="form-control" id="title" name="title" required>
                <option value="Mr" {% if member['title'] == 'Mr' %} selected {% endif %}>Mr</option>
                <option value="Mrs" {% if member['title'] == 'Mrs' %} selected {% endif %}>Mrs</option>
                <option value="Miss" {% if member['title'] == 'Miss' %} selected {% endif %}>Miss</option>
                <option value="Dr." {% if member['title'] == 'Dr.' %} selected {% endif %}>Dr.</option>
                <option value="Prof." {% if member['title'] == 'Prof.' %} selected {% endif %}>Prof.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ member['first_name'] }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ member['last_name'] }}" required>
        </div>
        <div class="form-group">
            <label for="position">Position:</label>
            <input type="text" class="form-control" id="position" name="position" value="{{ member['position'] }}" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ member['phone_number'] }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ member['email'] }}" required>
            <small id="emailMessage"></small> 
        </div>
        <div class="form-group">
            <label for="address">Adderss:</label>
            <input type="text" class="form-control" id="address" name="address" value="{{ member['address'] }}" required>
        </div>
        <div class="form-group">
            <label for="date_of_birth">Date of birth:</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ member['date_of_birth'] }}" required>
        </div>
        <div class="form-group">
            <label for="subscription_date">Subscription Date:</label>
            <input type="date" class="form-control" id="subscription_date" name="subscription_date" value="{{ member['subscription_date'] }}" required>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" name="type" value="{{ member['type'] }}" required>
        </div>
        <div class="form-group">
            <label for="expiry_date">Expiry Date:</label>
            <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ member['expiry_date'] }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Password must be at least 8 characters long and have a mix of character types(at lease 1 digital,1 lower case and 1 upper case)" 
             >
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Password must be at least 8 characters long and have a mix of character types(at lease 1 digital,1 lower case and 1 upper case)" 
             >
             <div id="passwordMessage"></div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
</section>
<script src="{{ url_for('static', filename='js/email_validation.js') }}"></script>
{% endblock %}