{% extends 'manager/mgr_dashboard.html' %}

{% block content %}

<!-- Breadcrumb -->
<section class="py-3 py-md-4 py-xl-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h4">Member Subcriptions</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 fs-7">
              <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="{{ url_for('manager_dashboard') }}">Home</a></li>
              <li class="breadcrumb-item">Member Subcriptions</li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-info" role="alert">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}

<section>
<div class="container">
    <h1 class="mt-5">Edit Detail: {{ sub['user_name'] }}</h1>
    <form method="post" >
       
        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ sub['start_date'] }}" required>
        </div>
        <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ sub['end_date'] }}" required>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-control" id="type" name="type" required>
                <option value="Annual" {% if sub['type'] == 'Annual' %} selected {% endif %}>Annual</option>
                <option value="Monthly" {% if sub['type'] == 'Monthly' %} selected {% endif %}>Monthly</option>       
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="Active" {% if sub['status'] == 'Active' %} selected {% endif %}>Active</option>
                <option value="Expired" {% if sub['status'] == 'Expired' %} selected {% endif %}>Expired</option>   
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
</div>
</section>
<script src="{{ url_for('static', filename='js/email_validation.js') }}"></script>
{% endblock %}