{% extends 'base.html' %} {% block content %}

<style>
  /* Sidebar styles */
  .sidebar {
    background-color: #4a724a; /* Green color for the sidebar */
    color: white;
    width: 160px;
    position: fixed;
    top: 55px; /* Align with the top of the page */
    bottom: 0;
    overflow-y: auto;
    padding-top: 20px;
  }

  .sidebar a,
  .dropdown-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px; /* Set font size to 15px */
    color: #000500; /* Text color is white */
    display: block;
  }

  .sidebar a:hover,
  .dropdown-btn:hover {
    background-color: #a8a6a6; /* Dark grey color for hover state */
  }

  .active,
  .dropdown-btn:focus {
    background-color: #fafafa; /* Light green color for active state */
  }

  .dropdown-container {
    display: none;
    background-color: #cccaca; /* Slightly lighter grey color for dropdown items */
  }

  .dropdown-container a {
    padding-left: 35px;
  }

  .main-content {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 20px;
  }
</style>
<div class="sidebar">
  <a href="#" class="dropdown-btn">Profile Management</a>
  <div class="dropdown-container">
    <a href="{{ url_for('instructor_profile_list') }}">Instructor Profile Management</a>
    <a href="{{ url_for('member_profile_list') }}">Member Profile Management</a>
  </div>

  <a href="#" class="dropdown-btn">Financial Reports</a>

  <a href="#" class="dropdown-btn">Subscription Status</a>

  <a href="#" class="dropdown-btn">Workshop & Lesson Management</a>
  <div class="dropdown-container">
    <a href="#">Manage Workshops</a>
    <a href="#">Manage Lessons</a>
  </div>

  <a href="#" class="dropdown-btn">News Management</a>

  <a href="#" class="dropdown-btn">Settings Management</a>
  <div class="dropdown-container">
    <a href="#">Manage Locations</a>
    <a href="#">Subscription Prices</a>
  </div>
</div>

<div class="main-content">
  <!-- Main content here, where you'll put the content for each section when you navigate to it -->
</div>

<script>
  // Javascript for dropdown functionality
  document.addEventListener("DOMContentLoaded", function () {
    var dropdown = document.getElementsByClassName("dropdown-btn");
    for (var i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
  });
</script>

{% endblock %}
