{% extends 'manager/mgr_dashboard.html' %} {% block content %}


<section>
<div class="back-arrow">
  <a
  href="{{ url_for('manager_dashboard') }}"
  title="Go back to Dashboard"
  >&#x2190; Back</a>
</div>

<div class="container">
  <div class="content-wrapper">
    <div class="filter-section">
      <form action="{{ url_for('manager_workshops') }}" method="get">
        <label for="instructor_id">Instructor ID:</label>
        <input type="text" name="instructor_id" id="instructor_id" />

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" />

        <label for="location_id">Location ID:</label>
        <input type="text" name="location_id" id="location_id" />

        <input type="submit" value="Filter" />
      </form>
    </div>

    <div class="workshops-list">
      {% for workshop in workshops %}
      <div class="workshop-item">
        <img
          src="{{ url_for('static', filename=workshop.workshop_image) }}"
          alt="Workshop Image"
          class="workshop-image"
        />
        <div>
          <p><strong>Instructor ID: </strong>{{ workshop.instructor_id }}</p>
          <p><strong>First Name: </strong>{{ workshop.first_name }}</p>
          <p><strong>Last Name:</strong> {{ workshop.last_name }}</p>
          <p><strong>Title:</strong> {{ workshop.title }}</p>
          <p><strong>Date:</strong> {{ workshop.date }}</p>
          <p><strong>Location ID:</strong> {{ workshop.location_id }}</p>
          <p><strong>Start Time: </strong>{{ workshop.start_time }}</p>
          <p><strong>End Time:</strong> {{ workshop.end_time }}</p>
          <p><strong>Capacity: </strong>{{ workshop.capacity }}</p>
          <p><strong>Price:</strong> {{ workshop.price }}</p>
          <div class="lesson-actions">
            <button class="btn edit-lesson">Edit</button>
            <button class="btn cancel-lesson">Cancel</button>
          </div>
        </div>
      </div>
      {% else %}
      <p>No workshops found.</p>
      {% endfor %}
    </div>
    <div class="card-footer">
      <button class="btn add-lesson">Add workshops</button>
    </div>
  </div>
</div>
</section>

{% endblock %}