<!doctype html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
  <title>Rākau Manager Dashboard</title>

  <!-- Favicon and Touch Icons -->
  <link rel="icon" type="image/png" sizes="512x512" href="/static/img/logo.png">


  <!-- Google Fonts Files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link rel="stylesheet" href="/static/assets/css/console-bsb.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/css/jsvectormap.min.css">

  <!-- BSB Head -->
</head>

<body>

  <!-- Header -->
  <header id="header" class="bg-white border-bottom border-light-subtle sticky-top bsb-tpl-header-sticky">
    <nav class="navbar navbar-expand-md bsb-navbar-3 bsb-tpl-navbar-sticky" data-bsb-sticky-target="#header">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <a class="nav-link" href="#!" data-bs-toggle="offcanvas" data-bs-target="#bsbSidebar1" aria-controls="bsbSidebar1">
              <i class="bi-filter-left fs-3 lh-1"></i>
            </a>
          </li>
        </ul>
        <a class="navbar-brand" href="{{ url_for('manager_dashboard') }}">
          <img src="/static/img/logo.png" class="bsb-tpl-logo" alt="Rākau Gardening Society Logo">
          Rākau Gardening Society
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#bsbNavbar" aria-controls="bsbNavbar" aria-label="Toggle Navigation">
          <i class="bi bi-three-dots"></i>
        </button>
        <div class="collapse navbar-collapse" id="bsbNavbar">
          <ul class="navbar-nav bsb-dropdown-menu-responsive ms-auto align-items-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative">
                  <i class="bi bi-search"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <form class="row g-1 px-3 py-2 align-items-center">
                  <div class="col-8">
                    <label class="visually-hidden" for="inputSearchNavbar">Search</label>
                    <input type="text" class="form-control" id="inputSearchNavbar">
                  </div>
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
              </div>
            </li>

            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="position-relative pt-1">
                  <i class="bi bi-bell"></i>
                  <span class="p-1 bg-accent border border-light rounded-circle position-absolute top-0 start-100 translate-middle">
                    <span class="visually-hidden">New Notifications</span>
                  </span>
                </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                    <span>
                      <i class="bi bi-envelope-fill me-2"></i>
                      <span class="fs-7">New Messages</span>
                    </span>
                  </a>
                </li> 
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item fs-7 text-center" href="#!">See All Notifications</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bsb-dropdown-toggle-caret-disable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ url_for('static', filename='img/manager.jpg') }}" width="35" height="35" class="img-fluid rounded-circle" alt="Profile Photo">
              </a>
              <ul class="dropdown-menu dropdown-menu-md-end bsb-dropdown-animation bsb-fadeIn">
                <li>
                  <h6 class="dropdown-header fs-7 text-center">Welcome, {{ manager_name }}!</h6>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a href="{{ url_for('manager_profile') }}" class="dropdown-item" aria-current="true">
                    <div class="row g-0 align-items-center">
                      <div class="col-3">
                        <img src="{{ url_for('static', filename='img/manager.jpg') }}" width="55" height="55" class="img-fluid rounded-circle" alt="Profile Photo">
                      </div>
                      <div class="col-9">
                        <div class="ps-3">
                          <div class="text-secondary mt-1 fs-7">Manager Account</div>
                          <div class="text-secondary mt-1 fs-7">{{ email }}</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('manager_profile') }}">
                    <span>
                      <i class="bi bi-person-fill me-2"></i>
                      <span class="fs-7">View Profile</span>
                    </span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item text-center" href="{{ url_for('logout') }}">
                    <span>
                      <span class="fs-7">Log Out</span>
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main id="main">
    {% block content %}
    <!-- Breadcrumb -->
    <section class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h4">Manager Dashboard</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 fs-7">
                <li class="breadcrumb-item"><a class="link-primary text-decoration-none" href="{{ url_for('manager_dashboard') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Overview</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
      <div class="container">
        <div class="row gy-3 gy-md-4">

          
          <!-- Lessons Table Card -->
          <div class="col-12 col-lg-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header bg-transparent p-4 border-light-subtle">
                <h5 class="card-title widget-card-title m-0">Lessons Overview</h5>
              </div>
              <div class="card-body p-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Instructor</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lesson in lessons %}
                    <tr>
                      <th scope="row">{{ lesson['lesson_id'] }}</th>
                      <td>{{ lesson['instructor_id'] }}</td>
                      <td>{{ lesson['date'] }}</td>
                      <td>{{ lesson['start_time'] }} - {{ lesson['end_time'] }}</td>
                      <td>{{ lesson['price'] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="col-12">
                  <a href="{{ url_for('manager_lessons') }}" class="btn btn-success my-2">Read More</a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Workshops Table Card -->
          <div class="col-12 col-lg-6">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header bg-transparent p-4 border-light-subtle">
                <h5 class="card-title widget-card-title m-0">Workshops Overview</h5>
              </div>
              <div class="card-body p-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for workshop in workshops %}
                    <tr>
                      <th scope="row">{{ workshop['workshop_id'] }}</th>
                      <td>{{ workshop['title'] }}</td>
                      <td>{{ workshop['date'] }}</td>
                      <td>{{ workshop['start_time'] }} - {{ workshop['end_time'] }}</td>
                      <td>{{ workshop['price'] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="col-12">
                  <a href="#" class="btn btn-success my-2">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
      <!-- News Table Card -->
      <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
          <div class="row gy-3 gy-md-4">
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header bg-transparent p-4 border-light-subtle">
                  <h5 class="card-title widget-card-title m-0">Latest News</h5>
                </div>
                <div class="card-body p-4">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date Published</th>
                        <th scope="col">Author</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for news_item in news %}
                      <tr>
                        <th scope="row">{{ news_item['news_id'] }}</th>
                        <td>{{ news_item['title'] }}</td>
                        <td>{{ news_item['date_published'] }}</td>
                        <td>{{ news_item['author_id'] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="col-12">
                    <a href="{{ url_for('view_news') }}" class="btn btn-success my-2">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
  </main>
  

  <!-- Aside -->
  <aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">

    <div class="offcanvas-body pt-0">
      <hr class="sidebar-divider mb-3">
      <ul class="navbar-nav">
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Manager Dashboard</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#pageExamples" role="button" aria-expanded="false" aria-controls="pageExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-folder"></i>
            </div>
            <span class="nav-link-text fw-bold">Profile Management</span>
          </a>
          <div class="collapse" id="pageExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('instructor_profile_list') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Instructor Profiles</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('member_profile_list') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Member Profiles</span>
                </a>            
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('manager_profile') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Your Profile</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-book"></i>
            </div>
            <span class="nav-link-text fw-bold">Workshop/Lessons Management</span>
          </a>
          <div class="collapse" id="authExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('manager_workshops') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Workshops</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('manager_lessons') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Lessons</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('mgr_attendance_records') }}">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Attendance Record</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
          <div class="nav-link-icon text-primary">
            <i class="bi bi-clipboard"></i>
          </div>
          <span class="nav-link-text fw-bold">Subscription Management</span>
        </a>
        <div class="collapse" id="authExamples">
          <ul class="nav flex-column ms-4">
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('expired_subscriptions') }}">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">Expired Subscriptions</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="#">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">Subscription Price</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
          <div class="nav-link-icon text-primary">
            <i class="bi bi-gear"></i>
          </div>
          <span class="nav-link-text fw-bold">Others</span>
        </a>
        <div class="collapse" id="authExamples">
          <ul class="nav flex-column ms-4">
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="{{url_for('view_booking')}}">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">Bookings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="#">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">Financial Reports</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="{{url_for('view_location')}}">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">Locations</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-secondary" aria-current="page" href="{{ url_for('view_news') }}">
                <div class="nav-link-icon text-primary-emphasis">
                  <i class="bi bi-arrow-right-short"></i>
                </div>
                <span class="nav-link-text">News</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
  </aside>

  <!-- Footer -->
  <footer class="footer py-3 border-top border-light-subtle">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="py-3">
            Built by <a href="#" class="link-secondary text-decoration-none">Group AS - Schwifty</a> with <span class="text-accent">&#9829;</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world-merc.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.9/index.global.min.js"></script>

  <!-- Javascript Files: Controllers -->
  <script src="/static/assets/controller/console-bsb.js"></script>
  <script src="/static/assets/controller/chart-1.js"></script>
  <script src="/static/assets/controller/chart-3.js"></script>
  <script src="/static/assets/controller/chart-4.js"></script>
  <script src="/static/assets/controller/calendar-1.js"></script>

  <!-- BSB Body End -->
</body>

</html>
